*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
/* .intro_bg{
    background-image: url("");
    width:cover;
    height: 400;
} */
.introPosition{
    background-color: whitesmoke;
}
.introPosition > span{
    width:100%;
    height: 400px;
    margin-left: 645px;
    margin-bottom: 5px;
    background-color: black;
    padding: 10px;
    color:white;
}
.imagePosition > span{
    position: relative;
    top: 15px;
    left: 450px;
    margin: 10px;
}
.introPosition > ul{
    position: relative;
    background-color: white;
    color:black;
    padding: 30px;
}
.historyPosition{
    background-color:whitesmoke;
}
.historyPosition > span{
    width:100%;
    height: 400px;
    background-color: black;
    color:white;
}
.pastImgPosition > span{
    position: relative;
    left: 450px;
    margin: 10px;
}
.historyPosition > ul{
    background-color: white;
    color:black;
    padding: 30px;
}
.hobbyPosition{
    width:100%;
    height: 1300px;
    background-color:whitesmoke;
}
.hobbyPosition > span{
    background-color: black;
    color:white;
}
.hobbyPosition > div > span{
    position: relative;
    left: 630px;
    margin-top: 50px;
    display: inline;
    background-color:lightpink;
    color:black;
}
.hobbyPosition > div > ol{
    position: relative;
    left: 600px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.webtoonPosition{
    position: relative;
    left: 320px;
}
.videoPosition{
    position: relative;
    left: 600px;
}

.schedulePosition{
    width:100%;
    height: 450px;
    background-color: rgb(249, 168, 180);
}
.schedulePosition > span:first-child{
    background-color: black;
    color:white;
}
.scheduleImgPosition > span:first-child{
    position: relative;
    top: 20px;
    left: 100px;
}
.scheduleImgPosition > span:last-child{
    position: relative;
    left: 150px;
    top: -250px;
}
.scheduleImgPosition >span> table{
    margin-top: 20px;
    margin-left: 250px;
    border: 1px solid black;
    border-collapse: collapse;
}
.scheduleImgPosition >span> table > thead > tr > th{
    border: 1px solid gray;
    background: mistyrose;
}
.scheduleImgPosition >span> table > tbody > tr > td{
    border: 1px solid gray;
    background:ghostwhite;
}
.mbtiPosition{
    width:100%;
    height: 900px;
    background-color:lightcyan;
}
.mbtiPosition > span{
    position: relative;
    left: 630px;
}
.mbtiPosition > div:last-child{
    margin-left: 600;
    background-color:white;
}