*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style:none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}
.introPosition{
    background-color: whitesmoke;
}
.introPosition > span{
    width:100%;
    height: 400px;
    font-size: 1.5em;
    margin-left: 650px;
    margin-bottom: 10px;
    background-color: black;
    padding: 10px;
    color:white;
}
.imagePosition > span{
    position: relative;
    top: 15px;
    left: 450px;
    margin: 10px;
}
.introPosition > ul{
    position: relative;
    top: 30px;
    margin-left: 460px;
    margin-right: 410px;
    font-size: 1.2em;
    text-align: center;
    background-color: white;
    color:black;
    padding: 50px;
}
.historyPosition{
    background-color:whitesmoke;
}
.historyPosition > span{
    position: relative;
    top: 50px;
    width:100%;
    height: 400px;
    font-size: 1.5em;
    background-color: black;
    color:white;
}
.pastImgPosition > span{
    position: relative;
    left: 450px;
    margin: 10px;
}
.historyPosition > ul{
    position: relative;
    top: 30px;
    margin-left: 460px;
    margin-right: 450px;
    font-size: 1.2em;
    text-align: center;
    background-color: white;
    color:black;
    padding: 50px;
}
.hobbyPosition{
    width:100%;
    height: 1500px;
    background-color:whitesmoke;
}
.hobbyPosition > span{
    position: relative;
    top: 50px;
    font-size: 1.5em;
    background-color: black;
    color:white;
}
.hobbyPosition > div > span{
    position: relative;
    top: 60px;
    left: 610px;
    margin-top: 50px;
    font-size: 1.2em;
    display: inline;
    background-color:pink;
    color:black;
}
.hobbyPosition > div > ol{
    position: relative;
    display: inline-block;
    top: 70px;
    left: 650px;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.webtoonPosition{
    position: relative;
    top: 80px;
    left: 320px;
}
.videoPosition{
    position: relative;
    top: 65px;
    left: 620px;
}

.schedulePosition{
    width:100%;
    height: 600px;
    background-color: rgb(253, 228, 232);
}
.schedulePosition > span:first-child{
    font-size: 1.5em;
    background-color: black;
    color:white;
}
.schedule{
    position: relative;
    top: 10px;
    font-size: 1.1em;
    text-align: center; 
    background-color: white;
    margin-left: 100px;
    margin-right: 1100px;
}
.scheduleImgPosition > div:first-child{
    position: relative;
    top: 20px;
    left: 100px;
}
.scheduleImgPosition > div:last-child{
    position: relative;
    left: 200px;
    top: -500px;
}
.scheduleImgPosition >div> table{
    margin-top: 20px;
    margin-left: 250px;
    border: 2.5px solid lightcoral;
    border-collapse: collapse;
}
.scheduleImgPosition >div> table > thead > tr > th{
    border: 1px solid gray;
    background: mistyrose;
}
.scheduleImgPosition >div> table > tbody > tr > td{
    border: 1px solid gray;
    background:ghostwhite;
}
.scheduleimg{
    position: relative;
    top: -430px;
    left: 500px;
}
.schedule1{
    position: relative;
    top: -440px;
    left: 500px;
    text-align: center; 
    font-size: 1.2em;
    background-color: lightcoral;
    color: white;
    margin-right: 1155px;
}
.scheduleimg2{
    position: relative;
    top: -760px;
    left: 900px;
}
.schedule2{
    position: relative;
    top: -770px;
    left: 900px;
    text-align: center; 
    font-size: 1.2em;
    background-color: lightcoral;
    color: white;
    margin-right: 1015px;
}
.mbtiPosition{
    width:100%;
    height: 1200px;
    background-color:lightcyan;
}
.mbtiPosition > span:first-child{
    position: relative;
    top: -340px;
    font-size: 1.5em;
    background-color: black;
    color: white;
}
.istpimg{
    position: relative;
    left: 380px;
    top: 20px;
}
.mbtiPosition>ul>li{
    position: relative;
    text-align: center;
    top: 25px;
    left: 600px;
    right: 500px;
    margin-top: 10px;
    margin-right: 1150px;
    background-color:black;
    color: white;
    padding: 10px;
}
.mbtiPosition>ul>ol{
    position: relative;
    text-align: center;
    top: 20px;
    margin-top: 15px;
    margin-left: 460px;
    margin-right: 450px;
    background-color:white;
    padding: 20px;
}
.planPosition{
    width:100%;
    height: 600px;
    background-color: rgb(253, 228, 232);
}
.planPosition > span:first-child{
    position: relative;
    top: -200px;
    left: 690px;
    font-size: 1.5em;
    background-color: lightcoral;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.planPosition>div{
    position: relative;
    top: -200px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 490px;
    background-color: whitesmoke;
    padding: 20px;
    padding-bottom: 30px;
}
.sqlimg{
    position: relative;
    left: -130px;
    top: 150px;
}
.sqlimg2{
    position: relative;
    left: 480px;
    top: 150px;
}